
.explicacion{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin: 100px 5%;
}

.explicacion img{
  width: 100px;
  object-fit: cover;
  border-radius: 20px;
}



/*formulario de agenda de visita*/

#reserva{
  margin: auto;
  width: 80%;
  display: block;
  justify-items: center;
}

#reserva form {
  background: white;
  padding: 5rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  max-width: 70%;
  width: 100%;
}


#reserva label {
  display: block;
  margin-bottom: 0.5rem;
  color: black;
  font-weight: 600;
}

#reserva input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid lightsalmon;
  border-radius: 8px;
  margin-bottom: 1.2rem;
  font-size: 1rem;
  transition: border 0.2s ease-in-out;
}


#boton_enviar {
  width: 100px;
  height: 40px;
  background-color: lightsalmon;
  color: white;
  padding: 0.9rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#boton_enviar :hover {
  background-color: lightsalmon;
}

#mensaje {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1.2rem;
  font-size: 1rem;
  transition: border 0.2s ease-in-out;
  height: 300px;
  text-align: top;
}



