
.card_container{
     position: relative;
     border-radius: 15px;
     overflow: hidden;
     box-shadow: 8px 8px 10px rgba(0,0,0,0.1);
     background-color: #fff;
        
   }

.card_container:hover{
    transform: scale(105%);
    cursor: pointer; 
    transition: scale, 20s, ease-in; 
   }

.card{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
      right: -200px;
}

.card img {
    width: 98%;
    height: 98%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

.card_footer{
    font-family: "lavishly Yours";
    position: absolute;
    bottom: -30px;
    width: 100%;
    color: #fff;
    padding: 0px;
    text-align: bottom;
    font-size: 2.2em;
}

    