@media (max-width: 768px) {
   #menu_desplegable{ /*desaparece el listado de menu */
    display: none;
  }

  #menu_icon{
   display: flex;
   flex-direction: row-reverse;
  }

     
  .slider img {
    height: 70vh;
  }

  .slider-content h1 {
    font-size: 1.8rem;
  }

  .btn-slider {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }
}

  h1{
    font-size: 1.8em;
    text-align: center;
  }

  .colecciones{
    display: grid;
    grid-template-columns: 1fr;
    margin: 10%;
  }

  .colecciones{
    display: grid;
    grid-template-columns: 1fr;
    margin: 10%;
  }

  #filtro_container form{
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    }

 
  .footer_container{
    flex-direction: column;
    align-items: center;
  }
  .footer_section{
    text-align: center;
  }

/* Mostrar menú completo desde 768px hacia arriba */


@media (min-width: 768px) {
#menu_icon{
  display: none;
}

.colecciones{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 5%;
   }


.footer_container{
  flex-direction: row;
  justify-content: space-between;
}

 
}